/bin/nvram/*
/bin/roms
/bin/saves/*
/bin/transpack/*
/bin/bios/*
/bin/BldDump
/bin/DriverDump
/bin/GnGeoX_Debug_X86_64
/bin/zlog.lock
/bin/transpack_db.ref
/build/*
/slib/*
/src/cscope.out
/src/GnGeo.depend
/src/GnGeo.cscope_file_list
/src/CppCheckResults.xml
/src/candidate/*
/src/3rdParty/Lib/*
/src/3rdParty/Generator68k/Gen68KDefs
/src/3rdParty/Generator68k/Gen68KOps
/src/3rdParty/Qlibc-2.0.1/Qlibc.depend
/src/3rdParty/Sqlite-3.8.1.11/Sqlite.depend
/src/3rdParty/Zlog-1.2.12/Zlog.depend
/src/3rdParty/MameZ80/MameZ80.depend
/src/3rdParty/Generator68k/Generator68K.depend
/src/3rdParty/Generator68k/Gen68KOps.depend
/src/3rdParty/DriverDump/DriverDump.depend
/src/3rdParty/Bstrlib/Bstrlib.depend
/src/3rdParty/BldDump/BldDump.depend
/src/3rdParty/Z80/Z80.cscope_file_list
/src/3rdParty/Z80/cscope.out
/src/3rdParty/Generator68k/Generator68K.cscope_file_list
/src/3rdParty/Generator68k/cscope.out
/bin/GnGeoX_Release_X86_64
/bin/gngeox
/src/GnGeoX.cscope_file_list
/src/CppCheckInput.txt
